<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Components - Dynamic Components</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <div id="app" class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Components - Dynamic Components</h1>

                <main-component></main-component>
            </div>
        </div>
    </div>

    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="script.js"></script>
</body>

</html>