<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Components - Properties</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <div id="app" class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Components - Properties</h1>
                <!-- notice kebab-case for camelCase properties -->
                <my-component message="Hello World" sub-title="The world greets you back!">
                <!-- also use v-bind or : if you are passing javascript expressions. For example :message="'Hello ' + 'World'" -->
            </div>
        </div>
    </div>

    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="script.js"></script>
</body>

</html>